@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url("../font/Roboto-Medium.ttf");
}