footer {
    background-color: #F2F2F2;
    width: 100%;
    & a {
        color: #70757A;
    }

    & p {
        padding:10px;
        color: #70757A;
    }
    >nav {
        border-top: #DADCE0 1px solid; 
        padding: 10px;
        & ul {
            display: none;
        }
    }

  
}

@media (min-width: 992px) {
    footer {
        >nav {
            display: flex;
            justify-content:space-between;
            & ul {
                display: flex;
            }
        }
    }
   
} 